<h1>My Over Engineered Todo Application</h1>

<div class="button-row" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button (click)="testDelete()">Test</button>
  <button
    mat-mini-fab
    disabled
    aria-label="Example icon button with a home icon"
  >
    <mat-icon (click)="displayAddForm()">add_circle</mat-icon>
  </button>
</div>

<div class="todos-list" fxLayout="column" fxLayoutAlign="center center">
  <todos-nx-todo-display-card
    *ngFor="let todo of todos$ | async"
    [todo]="todo"
    (delete)="handleDeleteTodo($event)"
  ></todos-nx-todo-display-card>
</div>
